.multi-column-list {
  margin: 1em;
  padding: 0;
  text-overflow: ellipsis;
  overflow: auto;
}

.multi-column-list li {
  box-sizing: border-box;
  float: left;
  list-style-type: none;
  margin: 0 25px 2px 0;
  width: 250px;
}

.file-pill {
  background: var(--color-blue);
  color: var(--color-base2);
  border-radius: 1em;
  padding: 3px 7px;
  text-overflow: ellipsis;
  overflow:hidden;
}

.framed-image {
  border: solid 5px var(--color-base2);
  border-radius: 10px;
}
