html, body, :global(#react-root) {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.terminal {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 13px;
  outline: none;
}

.terminalContents {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.textSection {
  font-family: 'Anonymous Pro', monospace;
  white-space: pre-wrap;
}

.htmlSection {
  font-family: sans-serif;
}

.htmlSection iframe {
  width: 100%;
  border: none;
}
